body{
    background-color: rgb(236, 198, 101);
    width: 90%;
    margin: auto;

}
header{
    background-color: burlywood;
    width: auto;
    margin: 0px auto;
    border: 1px solid black;
}
aside{
    text-align: right;
}
#TDR{
    text-align: center;
}
#footer{
    background-color: burlywood;
    width: auto;
    margin: 0px auto;
    border: 1px solid black;
}
